# =========================================================================
# PROCESSING PIPELINE CONFIGURATION
# =========================================================================

processing_pipelines:

  # -----------------------------------------------------------------------
  # PIPELINE VERSIONS
  # -----------------------------------------------------------------------
  # Each version will be used to attempt different Image group analysis
  # A Pipeline is made of nodes of different types:
  #   - Capture: The Capture node represents the start of the Pipeline. 
  #              There can be only one node of this type in a Pipeline.
  #   - File: File nodes represent the File format generated along a path
  #           of the Pipeline. These Files are used as interface between
  #           Processes. Each File node will have either an Image File type
  #           or a Metadata File type (from the list of File extensions in
  #           the config file).
  #   - Process: Process nodes generate transformations of the Files 
  #              through a Processing Method (as identified in config.yaml)
  #              and eventually generate a new File. Process can be chained
  #              together (a Process can follow immediately another Process
  #              without a File interface). These chains can form loops
  #              and therefore the same Process can be applied multiple 
  #              times. A Process preserves the name of the input File in
  #              the output, only appending its Processing Method ID to
  #              the output File (which can have a different type/extension
  #              then the inbound File). Due to the possibility of loops, 
  #              the same Processing Method can be appended more than once
  #              in the output File's name (with the limitation of the 
  #              number of loops already analyzed in the Photo Pairing 
  #              Tool).
  #   - Pairing: Pairing nodes take multiple Files to form a Pair, like
  #              the .CR3 + .XMP use case already covered in PhotoStats
  #   - Branching: Branching nodes represent a point of the Workflow where
  #                a choice between Processes is made. Only one of the
  #                following Process nodes will be selected when passing
  #                through the branch, but because it is possible to loop 
  #                back to the branching Node, the choice can be repeated
  #                with different outcomes. On the opposite side of this,
  #                when a node's output links to multiple following nodes
  #                without a Branching node in between, all of these
  #                will be executed: the path actually branches in parallel
  #                subpaths.
  #   - Termination: Termination nodes are where the Processing Pipeline
  #                  ends. There can be multiple Terminations in a Pipeline
  #                  and they will all be considered as reached if parallel
  #                  paths or subpaths lead to them. A Termination node 
  #                  accumulates all the Files which were generated along
  #                  the paths which lead from the Capture to that 
  #                  Termination to form a Specific Image in an Image
  #                  Group as defined in the Photo Pairing Data Model.
  #                  A valid Specific Image in an Image Group is one
  #                  that contains all the individual Files that were 
  #                  produced along a certain Path between Capture and one 
  #                  Termination in a specific Pipeline.
  # -----------------------------------------------------------------------
  
  version: "v1"
  nodes:

    # Capture Node
    - id: "capture_1" 
      type: "Capture"
      name: "Camera capture"
      output: 
        - "raw_image_1"
        - "lowres_jpeg"
        
    # File Node - Raw Image
    - id: "raw_image_1"
      type: "File"
      file_type: "Image"
      extension: ".CR3"
      name: "Raw Image File (.CR3)"
      output:
        - "selection_process" 

    # Process Node - Selection
    - id: "selection_process"
      type: "Process"
      method_ids: 
        - ""
      name: "Image Selection Process"
      output:
        - "raw_image_2" 
        - "xmp_metadata_1"

    # File Node - Raw Image after Selection
    - id: "raw_image_2"
      type: "File"
      file_type: "Image"
      extension: ".CR3"
      name: "Raw Image File (.CR3 after Selection)"
      output:
        - "metadata_pairing"  

    # File Node - XMP Metadata
    - id: "xmp_metadata_1"
      type: "File"
      file_type: "Metadata"
      extension: ".XMP"
      name: "XMP Metadata File"
      output:
        - "metadata_pairing"  

    # Pairing Node - Raw + XMP
    - id: "metadata_pairing"
      type: "Pairing"
      name: "Raw + XMP Pairing"
      output: 
        - "denoise_branching" 

    # Branching Node - Denoise Choice
    - id: "denoise_branching"
      type: "Branching"
      name: "Denoise Process Choice"
      output:   
        - "developing_process" 
        - "targeted_tone_mapping_process" 

    # Process Node - Developing
    - id: "developing_process"
      type: "Process"
      method_ids:
        - "DxO_DeepPRIME XD2s"
        - "DxO_DeepPRIME XD3"
      name: "Digital Developing Process with DxO"
      output:
        - "openformat_raw_image"

    # File Node - OpenFormat Raw Image
    - id: "openformat_raw_image"
      type: "File"
      file_type: "Image"
      extension: ".DNG"
      name: "DNG Image File"
      output:
        - "targeted_tone_mapping_process"

    # Process Node - Targeted Tone Mapping
    - id: "targeted_tone_mapping_process"
      type: "Process"
      method_ids:
        - ""
      name: "Targeted Tone Mapping Process with Adobe Lightroom"
      output:
        - "tiff_generation_branching"

    # Branching Node - TIFF Generation Choice
    - id: "tiff_generation_branching"
      type: "Branching"
      name: "TIFF Generation Process Choice"
      output:   
        - "tiff_image"
        - "individual_photoshop_process"
        - "topaz_process"

    # File Node - TIFF Image
    - id: "tiff_image"
      type: "File"
      file_type: "Image"
      extension: ".TIF" 
      name: "TIFF Image File"
      output: 
        - "termination_blackbox"
        - "lowres_jpeg"
        - "highres_jpeg"

    # Process Node - Individual Photoshop Edits
    - id: "individual_photoshop_process"
      type: "Process"
      method_ids:
        - "Edit"
      name: "Individual Photoshop Edits"
      output:
        - "tiff_generation_branching"

    # Process Node - Topaz Photo AI
    - id: "topaz_process"
      type: "Process"
      method_ids:
        - "topaz"
      name: "Topaz Photo AI Process"
      output:
        - "tiff_generation_branching"

    # File Node - Low-Res JPEG
    - id: "lowres_jpeg"
      type: "File"
      file_type: "Image"
      extension: ".JPG"
      name: "Low-Res JPEG File"
      output: 
        - "image_group_pairing"

    # File Node - High-Res JPEG
    - id: "highres_jpeg"
      type: "File"
      file_type: "Image"
      extension: ".JPG"
      name: "High-Res JPEG File"
      output: 
        - "image_group_pairing"

    # Pairing Node - Image Group Pairing
    - id: "image_group_pairing"
      type: "Pairing"
      name: "Image Group Pairing"
      output: 
        - "termination_browsable"

    # Termination Node - Blackbox Termination
    - id: "termination_blackbox"
      type: "Termination"
      name: "Blackbox Termination"
      output: []

    # Termination Node - Browsable Termination  
    - id: "termination_browsable"
      type: "Termination"
      name: "Browsable Termination"
      output: []
